@media (max-width: 1750px) {
  #app {
    position: absolute;
  }

  .sidebar {
    right: 0;
    margin: 0 15px;
    transform: translate(100%, -50%);
  }

}

@media (max-width: 1450px) {
  .sidebar {
    position: static;
    transform: translate(0, 0);
    margin-top: 5px;
  }

  .sidebar__inner {
    flex-direction: row;
    width: 800px;
    height: 150px;
  }
}

@media (max-width: 850px) {

  .header__inner,
  .main__inner {
    width: auto;
  }
}

